.home-container {
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1760336472685-4c3f0dd8d204?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE5fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&q=60&w=900");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 6rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  }

.title{
    font-family:'Avenir Black',Heavy;
    font-size: larger;
    
}
